<div class="d-flex justify-content-center">
  <div class="mt-5 p-2 " >
    <form [formGroup]="resetPassForm" (ngSubmit)="resetPassword()">
        <h5 class="text-center">Reset Password</h5>
      <div class="form-floating m-3">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          formControlName="password"
        />
        <label for="floatingPassword">Password</label>
      </div>
      <div>
        <div class="form-floating m-3">
          <input
            type="password"
            class="form-control"
            id="floatingPassword1"
            placeholder="Confirm Password"
            formControlName="confirmPassword"
          />
          <label for="floatingPassword1">Confirm Password</label>
        </div>
      </div>
      <button type="submit" class="m-3 btn btn-primary">Reset Password</button>
    </form>
  </div>
</div>

