<div class="container">
    <div>
        <mat-card>
            <mat-card-content> <h1 class="text-center fw-bolder">Order Details</h1></mat-card-content>
          </mat-card>
    </div>
   <br>
   <div *ngFor="let order of customerOrders;let i = index">
    <mat-card>
        <mat-card-header>
          <mat-card-title>
            {{i+1}}:-{{order._id}}
            <span class="badge bg-success">{{order?.status}}</span>
          </mat-card-title>
          <mat-card-subtitle>
          <div>
            {{order?.address?.street}}
          </div>  
          <p>payment status:- <span class="badge bg-success">{{order?.paymentStatus}}</span> </p>
          <div *ngFor="let product of order?.items;let j = index">
           {{j+1}} {{product.name}}
          </div>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <button class="mx-1" mat-raised-button>LIKE</button>
          <button class="mx-1" mat-raised-button color="primary" (click)="orderDetailsPage(order?._id)" > Order Details </button>
        </mat-card-actions>
      </mat-card>
   </div>
</div>

