<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="mt-5 p-3 rounded shadow-lg row" style="width: 80%">
    <div class="col-lg-5">
      <div>
        <div class="d-flex justify-content-center">
          <img
            class="bg-dark p-1"
            src="{{ imageURl }}"
            alt=""
            style="width: 30vw; height: 50vh"
          />
        </div>

        <div class="d-flex justify-content-around p-2">
          <div *ngFor="let img of selectedProductData?.images">
            <img
              (click)="getImageURl(img?.url)"
              class="bg-dark p-1"
              src="{{ img?.url }}"
              alt=""
              style="width: 60px; height: 60px"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-7">
      <div *ngIf="toggleEdit != 'edit'">
        <div class="bg-secondary text-white rounded px-3 p-1">
          <h3>{{ selectedProductData?.name }}</h3>
          <hr>
          <p>{{ selectedProductData?.description }}</p>
          <hr>
          <p>
            <small>{{ selectedProductData?.price | currency : "INR" }}</small>
          </p>
        </div>

        <div class="btn btn-info" (click)="toggleEditDiv('edit')">Edit</div>
      </div>
      <div *ngIf="toggleEdit == 'edit'">
        <form [formGroup]="productInfoEdit" (ngSubmit)="editProductData()">
          <h3>Edit Product Details</h3>
          <div class="input-group flex-nowrap m-1">
            <input
              type="text"
              class="form-control"
              placeholder="Product Name"
              aria-label="Username"
              aria-describedby="addon-wrapping"
              formControlName="name"
            />
          </div>
          <div class="input-group flex-nowrap m-1">
            <textarea
              type="text"
              class="form-control"
              placeholder="Product Description"
              rows="6"
              aria-label="Username"
              aria-describedby="addon-wrapping"
              formControlName="description"
            ></textarea>
          </div>
          <div class="input-group flex-nowrap m-1">
            <input
              type="text"
              class="form-control"
              placeholder="Product price"
              aria-label="Username"
              aria-describedby="addon-wrapping"
              formControlName="price"
            />
          </div>
          <div class="d-flex justify-content-between">
            <button
              type="button"
              (click)="toggleEditDiv('e')"
              class="mx-2 btn btn-secondary"
            >
              Cancel
            </button>
            <button type="submit" class="btn btn-primary mx-2">
              Save Changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
