<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="d-flex flex-md-column">
    <div
      class="p-2 rounded"
      style="
        background-color: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(50px);
      "
    >
      <div class="p-1 rounded" style="backdrop-filter: blur(10px)">hello 1
    
    </div>
    </div>
    <div>
      <div
        class="p-2 rounded"
        style="
          background-color: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(50px);
        "
      >
        <div class="p-1 rounded" style="backdrop-filter: blur(10px)">
          hello 2
        </div>
      </div>
      <div
        class="p-2 rounded"
        style="
          background-color: rgba(255, 255, 255, 0.1);
          backdrop-filter: blur(50px);
        "
      >
        <div class="p-1 rounded" style="backdrop-filter: blur(10px)">
          hello 3
        </div>
      </div>
    </div>
  </div>
</div>
