<div class="d-flex justify-content-center align-content-center mt-5">
  <div>
    <form [formGroup]="createProduct" (ngSubmit)="createNewProduct()" >
        
      <div class="input-group mb-3">

        <input
          type="text"
          class="form-control"
          placeholder="Product Name"
          aria-label="Username"
          aria-describedby="basic-addon1"
          formControlName="name"
        />
      </div>
      <div class="form-floating  mb-3">
        <textarea
          class="form-control"
          placeholder="Leave a comment here"
          id="floatingTextarea2"
          style="height: 100px"
          formControlName="description"
        ></textarea>
       
        <label for="floatingTextarea2">Description</label>
      </div>
       <div class="input-group mb-3">
          <span class="input-group-text">₹</span>
          <input
            type="text"
            class="form-control"
            aria-label="Dollar amount (with dot and two decimal places)"
            placeholder="Price"
            formControlName="price"
          />

        </div>
        <div class="bg-white rounded mb-3 p-1">
            <input type="file" multiple (change)="addImages($event)" formControlName="images">
        </div>
        <button type="submit" class="btn btn-primary">Create Product</button>
    </form>

  </div>
</div>
