<p>change-password works!</p>
<div
  class="d-flex justify-content-center align-content-center align-items-center"
>
  <div class="shadow p-3 mt-5">
    <form [formGroup]="changePassword" (ngSubmit)="handleChangePassword()">
      <h4 class="text-center p-3">Change Password</h4>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="floatingInput"
          placeholder="old Password"
          formControlName="old_password"
        />
        <label for="floatingInput">Old Password</label>
      </div>
      <div class="form-floating mb-3">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          formControlName="new_password"
        />
        <label for="floatingPassword">New Password</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword1"
          placeholder="Confirm Password"
          formControlName="confirmPassword"
        />
        <label for="floatingPassword1">Confirm New Password</label>
      </div>
      <button class="btn btn-primary m-3" [disabled]="changePassword.invalid">Change Password</button>
    </form>
  </div>
</div>
