<div class="container">
  <div>
    <mat-card>
      <mat-card-content>
        <h1 class="text-center fw-bolder">Order Details</h1></mat-card-content
      >
    </mat-card>
  </div>
  <br />
  <div>
    <div  >
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>
            {{ orderDetails?._id }}
            <span
              [ngClass]="
                orderDetails?.status === 'Confirmed'
                  ? 'bg-success'
                  : orderDetails?.status === 'Pending'
                  ? 'bg-warning'
                  : 'bg-danger'
              "
              class="badge"
              >{{ orderDetails?.status }}</span
            >
          </mat-card-title>
          <mat-card-subtitle
            >Payment status
            <span
              [ngClass]="
                orderDetails?.paymentStatus === 'Paid' ? 'bg-success' : 'bg-warning'
              "
              class="badge"
              >{{ orderDetails?.paymentStatus }}</span
            ></mat-card-subtitle
          >
        </mat-card-header>
        <hr />
        <mat-card-content>
          <div class="px-2">
            <mat-card-subtitle>Product Details : </mat-card-subtitle>
            <br />
            <div *ngFor="let item of orderDetails?.items; let j = index">
              <p class="text-decoration-underline">
                {{ j + 1 }}. {{ item?.name }}
              </p>
              <div class="d-flex justify-content-between">
                <P>
                  <span>price : </span> {{ item?.price | currency : "INR" }}</P
                >
                <P>
                  <span>Quantity : </span>
                  {{ item?.qty }}</P
                >
                <p class="fw-bold">{{ item?.subTotal | currency : "INR" }}</p>
              </div>
            </div>
            <div class="d-flex justify-content-between">
              <p>delivery fee :</p>
              <p class="fw-bold">
                {{ orderDetails?.deliveryFee | currency : "INR" }}
              </p>
            </div>
            <div class="d-flex justify-content-between">
              <p class="fw-bolder">Total :</p>
              <p class="fw-bolder">
                {{ orderDetails?.total | currency : "INR" }}
              </p>
            </div>
          </div>
          <br />
          <mat-card-subtitle>Address Details : </mat-card-subtitle>
          <div>
            <mat-accordion>
              <mat-expansion-panel
                (opened)="panelOpenState = true"
                (closed)="panelOpenState = false"
              >
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ orderDetails?.address?.street }}
                  </mat-panel-title>
                  <mat-panel-description>
                    {{ panelOpenState ? "Hide Details" : " View Details" }}
                  </mat-panel-description>
                </mat-expansion-panel-header>

                <address class="fw-bold">
                  <p>
                    {{ orderDetails?.address?.street }},
                    {{ orderDetails?.address?.addressLine2 }}
                  </p>
                  <p>{{ orderDetails?.address?.city }}, {{ orderDetails?.address?.state }}</p>
                  <p>{{ orderDetails?.address?.pin }}</p>
                </address>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </mat-card-content>
        <mat-card-actions align="end">
          <button
          mat-raised-button
          color="warn"
          routerLink="/user/order-history" 
          >
          Cancel
          </button>
          <button
            [ngClass]="orderDetails?.status === 'Cancelled' ? 'd-none' : ''"
            mat-stroked-button
            color="warn"
            (click)="cancelOrder()"
          >
            Cancel Order
          </button>
          <button
            [ngClass]="
              orderDetails?.paymentStatus === 'Paid' || orderDetails?.status === 'Cancelled'
                ? 'd-none'
                : ''
            "
            class="mx-1"
            mat-raised-button
            color="primary"
            (click)="proceedToPayment()"
          >
            Make Payment
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
