<div class="container">
    <div>
        <mat-card>
            <mat-card-content> <h1 class="text-center fw-bolder">Order Details</h1></mat-card-content>
          </mat-card>
    </div>
   <br>
   <div>
    <mat-card>
        <mat-card-header>
          <mat-card-title>Actions Buttons</mat-card-title>
          <mat-card-subtitle>End</mat-card-subtitle>
        </mat-card-header>
        <mat-card-actions align="end">
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
   </div>
</div>
