/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
body {
  margin: 0%;
  height: 100%;
  background: linear-gradient(90deg, #4ecdc4, #556270);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
html {
  font-family: "Montserrat", sans-serif;
  height: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #556270;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4ecdc4;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #747e8a;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
