/* You can add global styles to this file, and also import other style files */
body{
    background:linear-gradient(180deg,#fdfcfb, #e2d1c3);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}